.container {
  margin: 0 auto;
  background: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom:0;
}
footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer ul li{
    padding: 0.45em 0;
    letter-spacing: 1px;
  }

footer ul li a {
  
  color: #707070;
  font-weight: 700;
}
a{
    text-decoration: none;
}

footer ul li a:hover,
footer ul li a:focus {
  color: #471616;
}
.copywrite{
    padding:0;
    text-align: right;
    font-size:.75rem;
}

@media (min-width: 675px) {
    .container {
      flex-direction: row;
      background: beige;
      padding: 0 25px;
      border-radius: 7px;
    }
    .footerContainer{
        justify-content: flex-start;
    }
    footer .listContainer {
      display: flex;
      flex-direction: row;
    }
    footer ul li{
        padding: 1em 0;
        letter-spacing: 1px;
      }
    .listItems{
      padding:0 30px;
      text-align: left;
    
      
    }
    .listItems a{
      color:rgb(146, 39, 39);
      text-decoration: none;
     
     
    }
    .listItems a:hover, .listItems a:focus{
      color:rgb(90, 25, 25);
    }
    .listItems a:active {
      text-decoration: underline;
     }
     .copywrite{
         padding-top:60px;
         font-size:.75rem;
     }

  }